nav{
    padding-left: 20%;
    padding-right: 20%;
    color: white;
    
}

.buttond_s{
    margin-top: 10px;
    
}

a:hover{
    color: white;
}

body{
    background-color: #ffffff;
 }

header{
   
    background-color: #19283f;
    padding-bottom: 20px;
}

.button_head{
    margin-top: 55px;
    margin-bottom: 35px;
    font-weight: bold;
}

#text_header{
    margin-top: 100px;
    font-size: 50px;
    text-align: center;
    color: white;
}

#text_hed2{
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
    color: #a8b9c0;
}

.mol{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

#portfolio{
    padding-left: 20%;
    padding-right: 20%;
    background-color: #eff7fa;
    text-align: center;
    font-weight: bold;
    font-size: 45px;
    margin-bottom: 40px;
}

#about{
    margin-top: 20px;
    padding-left: 20%;
    padding-right: 20%;
    background-color: #ffffff;
    text-align: justify;
    color: #a8b9c0;

}
h2{
   
    color: black;
    text-align: center;
    
}


h1{
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}

.buttond_about{
    margin-top: 25px;
    margin-bottom: 40px;
    font-weight: bold;
}

.im_mac{
    width:"700px";
    margin-top: 60px;

}

.rw1{
    margin-top: 20px;
}
.rw1:hover{
    cursor: pointer;
}
.rw2:hover{
    cursor: pointer;
}
.rw2{
    margin-top: 20px;
}

#foot_a:hover{
    color: #a8b9c0;
    cursor: pointer;
}

.foot_rw{
    text-align: center;
    margin-top: 40px;
    
}
.fb{
    margin:  10px;
    width: 40px;
}

.inst{
    margin:  10px;
    width: 30px;
}
footer{
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 20px;
   
    
    background-color: #19283f;
    color: white;
    
}